:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

@font-face {
  font-family: Rondo;
  src: url(fonts/rondo.ttf)
}

body {
    display: flex;
    flex-direction: column;
    background: #FAF9F6;  
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow:hidden;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.main-contain {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.sideblock {
  width: 300px;
  height: 700px;
  padding: 20px 40px;
}

#controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.sideblock button {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
    background: #FFFFEA;
}

.sideblock button:hover {
  background-image: linear-gradient(
    to right,
  #DB0107,
  #CF0120 ,
  #D20003 40%,
  #DB0107 60%,
  #C40002
  );

}

.sideblock button.active {
  transition: all .2s ease-in-out;
  background-image: linear-gradient(
    to right,
  #DB0107,
  #CF0120 ,
  #D20003 40%,
  #DB0107 60%,
  #C40002
  );
  color: #FAF9F6;  
}

.sideblock input {
    width: 80%;
    height: 100px;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to right,
    #F91C41 ,
    #D33A4E ,
    #DB0107,
    #CF0120 ,
    #D20003 40%,
    #DB0107 60%,
    #C40002,
    #F91C41 
    );
    border-radius: 20px;
    width: 700px;
    height: 700px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    padding: 20px 20px;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    font: 1.5em sans-serif;
}

sup {
  font-size: .4em;
}

h1 {
  text-align: center;
  font-family: rondo;
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  background-image: linear-gradient(
  to top,
  #462523 0,
  #cb9b51 22%, 
  #f6e27a 45%,
  #f6f2c0 50%,
  #f6e27a 55%,
  #cb9b51 78%,
  #462523 100%
  );
  color:transparent;
  -webkit-background-clip:text;
}
  
#gridContainer {
    margin: 10px;
    display: grid;
    padding: 5px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(232, 232, 232, 0.71);
    -moz-box-shadow: 2px 2px 3px px rgba(255, 255, 255, 0.71);
    cursor: grab;
    
}

.grid-item {
    border: 1px solid white;
    background-color: white;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.slider input[type="range"] {
    text-align: center;
    width: 90%;
    height: auto;
}

/* STYLING RESOLUTION SLIDER */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 40px;
    width: 16px;
    border-radius: 3px;
    background: #FFFFEA;
    cursor: pointer;
    margin-top: -18px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #FFFFEA;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #FFFFEA;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #FFFFEA;
    border-radius: 2px;
    border: 0.2px solid #010101;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFEA;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #FFFFEA;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FFFFEA;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: gold;
  }
  input[type=range]::-ms-fill-upper {
    background: gold;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: gold;
  }

  .colorpick {
    visibility: hidden;
  }

  #customColorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
  }
  #customColorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 7px solid #000000;
  }
  #customColorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: 7px solid #000000;
  }


#subcontainer-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#subcontainer-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

  .round-controller{
    background-color: #FFFFEA;
    border-radius: 50%;
    height: 100px;
    width: 100px;  
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.71);
  }     

  .marker {
    background:#E90418;
    position: relative;
    height:10px;
    right:0px;
    top:45px;
    width:10px;  
  }

  #color-controller{
    margin: 10px 10px 10px 10px;
    transform: rotate(90deg);
  }

  #colorKnob{
    margin: 10px 10px 10px 10px;
    transform: rotate(90deg);

  }



  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.fa-github {
  font-size: 30px;
  transition: transform 0.3s ease-in-out;
  color: black;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

#etch {
  margin-top: 30px;
  margin-bottom: 0px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 900;
  color: #500001;
}

#gridRes {
  margin-top: 50px;
}